.time-tab
    .time-tab__intervals
        .time-tab__interval.time-tab__interval-active Today
        .time-tab__interval 24 hours
        .time-tab__interval Last week
        .time-tab__interval Last month
    .owl-carousel.owl-theme.time-tab__info
        .monitor
            .monitor__title All transactions
            .monitor__value 12 034
            .monitor__val-name transactions
            .monitor__val-percents 39% increase
        .monitor
            .monitor__title All ledgers
            .monitor__value 958 374
            .monitor__val-name units
            .monitor__val-percents 39% increase
        .monitor
            .monitor__title Volume in CS
            .monitor__value 23 055
            .monitor__val-name transactions
            .monitor__val-percents 39% increase
        .monitor
            .monitor__title Smart contracts
            .monitor__value 53 957
            .monitor__val-name transactions
            .monitor__val-percents 39% increase
