.pagination.pagination_verticalMargin_20 
    button.pagination__first First
    button.pagination__prev Prev
    .pagination__current
        | Page 
        span.pagination__value 1
        |  of 
        span.pagination__total 5
    button.pagination__next Next
    button.pagination__last Last
