.info
    .info__row
        .info__img
        .info__name Name: 	
            span CreditsPREICOinfo
    .info__row
        .info__title CS Balance: 	
        .info__title 1,500.1254 Credits
    .info__row
        .info__title Contract creator:		
        .info__title 0xab7c74abC0C4d48d1bdad5DCB26153FC8780f83E
