footer.footer
    .footer__wrapper
        .footer__row
            .footer__text.footer__text-marginRight-40
                | About CREDITS
                br
                |                         CREDITS.COM PTE. LTD.
                br
                |                         Reg. No.: 201725929C
                br
                |                         Check
                br
                |                         79 Ayer Rajah Crescent
                br
                |                         #05-08 Singapore 139955
                br
            .footer__text
                | Contacts
                br
                |                         Advertising & PR: pr@credits.com
                br
                |                         Press & news: press@credits.com
                br
                |                         General issues: info@credits.com
                br
                |                         Tel: +65 8114 9362
                br
        .footer__text.footer__text-rightAlign
            | Copyright © 2017 CREDITS.COM All Rights Reserved.
