.last-block{
    background-color: #fff;
    max-width: 1150px;
    padding: 20px 0px 20px 20px;
    margin: auto;
}

.last-block__title {
    font-family: "Montserrat - Semi Bold";
    font-size: 28px;
}

.last-block__number {
    color: #4b4b4b;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
}

.last-block__txns {
    font-family: "Montserrat - Semi Bold";
    font-size: 18px;
    font-weight: 500;
}

.last-block__table-wrapper{
    overflow-x: auto;
    margin-bottom: 20px;
}

.last-block__table {
    min-width: 600px;
    width: 100%;
    overflow-y: auto;
}

.last-block__table tr:nth-child(2n){
    background-color: #f0f0f0;
}


.last-block__table tr td{
    text-align: center;
    font-size: 18px;
    font-family: "Montserrat - Regular";
    font-size: 18px;
    font-weight: 500;
    padding: 5px 0px;
}

.last-block__table tr td:nth-child(1), .last-block__table tr td:nth-child(2), .last-block__table tr td:nth-child(5), .last-block__table tr td:nth-child(6){
    color: #4b4b4b;
    font-family: "Montserrat - Regular";
    font-size: 18px;
    font-weight: 500;
}

.last-block__table tr td:nth-child(4){
    text-decoration: underline;
    font-weight: bold;
    color: #2098fd;
}

.last-block__table tr td.success:nth-child(3){
    color: #008e0d;
    font-weight: bold;
}

.last-block__table tr td.failed:nth-child(3){
    color: #cc0000;
    font-weight: bold;
}

.last-block__seeAll {
    color: #4b4b4b;
    font-family: "Myriad Pro";
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
    display: block;
}
