include ../blocks/head/head.jade
body
    include ../blocks/header/header.jade

    
    .last-block
        h2.last-block__title Transactions
        .last-block__number № of transactions
        .last-block__txns 20 txns
        .last-block__table-wrapper
        include ../blocks/pagination/pagination.jade
        .overflowX_auto
            table.last-block__table
                tr
                    th №
                    th Age
                    th Status
                    th LedgHash
                    th Quant txs
                    th All value
                    th All fee
                tr
                    td 1
                    td 1h 30m
                    td.success Success
                    td CS12rf123
                    td 135
                    td 100 CS
                    td 0.001
        include ../blocks/pagination/pagination.jade 
    
    include ../blocks/footer/footer.jade           
